/* by default, browser is adding some margin to body element */
/* by default, for heading element some margin is applied by the browser */

/* body,
h2 {
  margin: 0;
} */

* {
  margin: 0;
}

/* to remove the default margin for each and every element use "*" -- universal selector */

.header {
  background-color: black;
  color: white;
  height: 80px;
  /* to place the content in the middle veritcally and horizontally */
  /* justify-content: center; */
  /* align-items: center; */
  /* to work above properties the container should be a flex container. */
  display: flex;
}

.leftPanel {
  /* background-color: red; */
  width: 40%;
  /* when ever to display the content in the middle of Vertically and horizontally make the element as flex element */
  display: flex;
  /* to display the content  we sould use the below properties */
  justify-content: center;
  align-items: center;
}
.rightPanel {
  /* background-color: green; */
  width: 60%;
  display: flex;
  /* to display the content  we sould use the below properties */
  justify-content: center;
  align-items: center;
}

.rightPanel a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
}

.main {
  height: 500px;
  background-color: lightgray;
  padding: 40px;
}

.footer {
  height: 140px;
  color: white;
  background-color: rgb(37, 33, 33);
  padding: 50px;
}

.footer a {
  font-size: 21px;
  color: rgb(214, 217, 37);
  text-decoration: none;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* assign the flexContainer class to all the components */
}

.card {
  /* border: 4px solid green; */
  box-shadow: 0 0 10px green;
  padding: 10px;
  width: 270px;
  height: 400px;
  margin: 10px 20px;
}
#cardContainer {
  display: flex;
  justify-content: space-evenly;
}

.card h3,
p {
  margin: 10px;
}
